body {
    margin: 0 auto;
}

.section-one, .footer {
    background-color: #1f2937;
}

/* SECTION ONE */

.header {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.header-link {
    font-size: 18px;
    color: #E5E7EB;
    margin: 15px;
}

.header-logo {
    height: 80px;
    width: auto;
    margin: 15px auto 15px 15px;
}
