body {
    margin: 0 auto;
}

.container {
    display: flex;
    flex-direction: column;
}

.section-one, .footer {
    background-color: #274877;
}

/* SECTION ONE */

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 5px 100px 20px;
}

.header-link {
    font-size: 18px;
    color: #E5E7EB;
    padding: 10px;
}

.logo {
    height: 80px;
    width: auto;
    margin-right: auto;
    padding: 10px;
}
